<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="notes.js"> </script>
        <link rel="stylesheet"  href="/CSS/titanic.css"></link>
    </head>
    <body>
        <div class="header">
            <img src="/images/menuBar.jpg" class="menuBar" onclick="changePage()">
            <img src="/images/wiki-header-logo.png" class="wikiLogo">
            <form class="searchBar">
                <img src="/images/searchBarIcon.jpg">
                <textarea id="searchInfo" name="searchRequest" placeholder="Search Wikipedia"></textarea>
                <button type="submit" id="searchSubmit"><b>Search</b></submit>
            </form>
        </div>

        <div class="content">
            <div class="tableOfContent" id="table">
                <div class="sections">
                    <label id="tableLink"> <b>(Top)</b></label>
                    <label id="tableLink"> Background</label>
                    <label id="tableLink"> Dimensions and layout</label>
                </div>
            </div>
            

            
                <div class="info">
                    <label id="info-header"><b><i>Titanic</i></b></label>
                    <hr id="Top"> 
                    <label class="top">RMS Titanic was a British passenger liner, operated by the White Star Line,
                         that sank in the North Atlantic Ocean on 15 April 1912 after striking an iceberg during her maiden voyage from Southampton,
                          England to New York City, United States.
                           Of the estimated 2,224 passengers and crew aboard, more than 1,500 died, making it the deadliest sinking of a single ship up to that time.
                           [a] It remains the deadliest peacetime sinking of an ocean liner or cruise ship.
                           [4] The disaster drew public attention, provided foundational material for the disaster film genre, and has inspired many artistic works.</label>
                    <div class="sideBar">
                        <img src="/images/overflowTest.jpg">
                    </div>
                </div>

        </div>
        <!-- stylesheets will be added and deleated on runtime in order to change the color of the text in the table of content, to show what section you are currently reading-->



        <!-- <div>   <button onclick="changePage()"> move to different page to show that we can render multiple templates </button>  </div> -->
        <!-- 
            <div>   <img src="/images/overflowTest.jpg">    </div>
            <hr>
            <div>   <img src="/images/titanicTestImage.jpg"> </div>
        -->
        

    </body>
</html>