<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script defer src="notes.js"> </script>
        <link rel="stylesheet"  href="/CSS/titanic.css"></link>
    </head>
    <body>
        <div class="header">
            <img src="/images/menuBar.jpg" class="menuBar" onclick="changePage()">
            <img src="/images/wiki-header-logo.png" class="wikiLogo">
            <form class="searchBar">
                <img src="/images/searchBarIcon.jpg">
                <textarea id="searchInfo" name="searchRequest" placeholder="Search Wikipedia"></textarea>
                <button type="submit" id="searchSubmit"><b>Search</b></submit>
            </form>
        </div>

        <div class="content">
            <div class="tableOfContent" id="table">
                <div class="sections">
                    <label id="tableLink"> <b>(Top)</b></label>
                    <label id="tableLink"> Background</label>
                    <label id="tableLink"> Dimensions and Layout</label>
                </div>
            </div>
                <div class="info">
                    <label id="info-header"><b><i>Titanic</i></b></label>
                    <hr id="Top"> 
                    <label>&emsp;This article is about the passenger liner. For the film by James Cameron, see Titanic (1997 film). For other uses, see Titanic (disambiguation).<br></label>
                    
                    <div class="sideBar">
                        <img src="/images/overflowTest.jpg">
                        <img src="/images/overflowTest.jpg">
                        <img src="/images/overflowTest.jpg">
                        <img src="/images/overflowTest.jpg">
                        <img src="/images/overflowTest.jpg">
                    </div>

                    <label class="top-p1">
                        <br>
                        RMS Titanic was a British passenger <a href="https://en.wikipedia.org/wiki/Ocean_liner" class="hyperLinks">liner</a>, operated by the 
                        <a href="https://en.wikipedia.org/wiki/White_Star_Line" class="hyperLinks">White Star Line</a>, 
                        that <a href="https://en.wikipedia.org/wiki/Sinking_of_the_Titanic" class="hyperLinks">sank in the North Atlantic Ocean</a> 
                        on 15 April 1912 after striking an <a href="https://en.wikipedia.org/wiki/Iceberg" class="hyperLinks">iceberg</a>  
                        during her maiden voyage from <a href="https://en.wikipedia.org/wiki/Southampton" class="hyperLinks">Southampton</a>, 
                        England to <a href="https://en.wikipedia.org/wiki/New_York_City" class="hyperLinks">New York City</a>, United States. 
                        Of the <a href="https://en.wikipedia.org/wiki/Sinking_of_the_Titanic#Casualties_and_survivors" class="hyperLinks">estimated 2,224 passengers and crew</a> aboard,  more than 1,500 died, making it 
                        <a href="https://en.wikipedia.org/wiki/List_of_accidents_and_disasters_by_death_toll#Maritime" class="hyperLinks">the deadliest sinking of a single ship</a> up to that time. 
                        [a] It remains the deadliest peacetime sinking of an <a href="https://en.wikipedia.org/wiki/Ocean_liner" class="hyperLinks">ocean liner</a> or 
                        <a href="https://en.wikipedia.org/wiki/Cruise_ship" class="hyperLinks">cruise ship</a>. 
                        [4] The disaster drew public attention, provided foundational material for the <a href="https://en.wikipedia.org/wiki/Disaster_film" class="hyperLinks">disaster film</a> 
                        genre, and has inspired many artistic works.
                        <br>
                    </label>

                    <label class="top-p2">
                        <br>
                        RMS Titanic was the largest ship afloat at the time she entered service and the second of three Olympic-class ocean liners operated by the White Star Line. 
                        She was built by the Harland and Wolff shipyard in Belfast. 
                        Thomas Andrews, the chief naval architect of the shipyard, died in the disaster. 
                        Titanic was under the command of Captain Edward Smith, who went down with the ship. 
                        The ocean liner carried some of the wealthiest people in the world, as well as hundreds of emigrants from the British Isles, 
                        Scandinavia, and elsewhere throughout Europe, who were seeking a new life in the United States and Canada.
                        <br>
                    </label>

                    <label class="top-p3">
                        <br>
                        The first-class accommodation was designed to be the pinnacle of comfort and luxury, 
                        with a gymnasium, swimming pool, smoking rooms, high-class restaurants and cafes, a Turkish bath and hundreds of opulent cabins. 
                        A high-powered radiotelegraph transmitter was available for sending passenger "marconigrams" and for the ship's operational use. 
                        Titanic had advanced safety features, such as watertight compartments and remotely activated watertight doors, 
                        contributing to its reputation as "unsinkable".
                        <br>
                    </label>

                    <label class="top-p4">
                        <br>
                        Titanic was equipped with 16 lifeboat davits, each capable of lowering three lifeboats, for a total of 48 boats. 
                        However, she actually carried only 20 lifeboats, 
                        four of which were collapsible and proved hard to launch while she was sinking (Collapsible A nearly swamped and was filled with a foot of water until rescue; 
                        Collapsible B completely overturned while launching). Together, the 20 lifeboats could hold 1,178 people—about half the number of passengers on board, 
                        and one-third of the number of passengers the ship could have carried at full capacity (a number consistent with the maritime safety regulations of the era). 
                        When the ship sank, the lifeboats that had been lowered were only filled up to an average of 60%.
                        <br>
                    </label>

                    <!-----------------------------------------Start of Background info---------------------------------------------------->
                    <br><br><br>
                    <label id="info-background"><b><i>Background</i></b></label>
                    <hr id="Background"> 
                    <div class="bground-media">
                        <video controls autoplay="false" width="320" height="240">
                            <source src="https://en.wikipedia.org/wiki/File:Titanic_Disaster_-_Genuine_Footage_(1911-1912).webm" type="video/webm">
                            <!---<source src="https://en.wikipedia.org/wiki/File:Titanic_Disaster_-_Genuine_Footage_(1911-1912).ogg" type="video/ogg"> -->
                        </video>
                        
                    </div>

                    <label class="background-p1"> 
                        <br>
                        The name Titanic derives from the Titans of Greek mythology. 
                        Built in Belfast, Ireland, in what was then the United Kingdom of Great Britain and Ireland, 
                        RMS Titanic was the second of the three Olympic-class ocean liners—the first was RMS Olympic and the third was HMHS Britannic.
                        [5] Britannic was originally to be called Gigantic[citation needed] and was to be over 1,000 feet (300 m) long.
                        [6][failed verification] They were by far the largest vessels of the British shipping company White Star Line's fleet, 
                        which comprised 29 steamers and tenders in 1912.
                        [7] The three ships had their genesis in a discussion in mid-1907 between the White Star Line's chairman, 
                        J. Bruce Ismay, and the American financier J. P. Morgan, who controlled the White Star Line's parent corporation, 
                        the International Mercantile Marine Co. (IMM).
                        <br>
                    </label>

                    <label class="background-p2">
                        <br>
                        The White Star Line faced an increasing challenge from its main rivals, Cunard—which had recently launched Lusitania and Mauretania, 
                        the fastest passenger ships then in service—and the German lines Hamburg America and Norddeutscher Lloyd. 
                        Ismay preferred to compete on size rather than speed and proposed to commission a new class of liners that would be larger than anything that had gone before, 
                        as well as being the last word in comfort and luxury.[8] 
                        The White Star Line sought an upgrade of its fleet primarily to respond to the introduction of the Cunard giants but also to considerably strengthen its position on the Southampton–Cherbourg–New York service that had been inaugurated in 1907. 
                        The new ships would have sufficient speed to maintain a weekly service with only three ships instead of the original four. 
                        Thus, the Olympic and Titanic would replace RMS Teutonic of 1889, RMS Majestic of 1890 as well as RMS Adriatic of 1907. 
                        RMS Oceanic would remain on the route until the third new ship could be delivered.
                        [citation needed] Majestic would be brought back into her old spot on White Star Line's New York service after Titanic's loss.[9]
                        <br>
                    </label>

                    <label class="background-p3">
                        <br>
                        The ships were constructed by the Belfast shipbuilder Harland & Wolff, 
                        which had a long-established relationship with the White Star Line dating back to 1867.
                        [10] Harland and Wolff were given a great deal of latitude in designing ships for the White Star Line; 
                        the usual approach was for Wilhelm Wolff to sketch a general concept, which Edward James Harland would turn into a ship design. 
                        Cost considerations were a relatively low priority; 
                        Harland & Wolff were authorised to spend what it needed on the ships, 
                        plus a five percent profit margin.[10] In the case of the Olympic-class ships, 
                        a cost of £3  million (approximately £310 million in 2019) for the first two ships was agreed plus "extras to contract" and the usual five percent fee.[11]
                        <br>
                    </label>

                    <!--the bottom of background p3 needs to line up with the end of the side box-->
                    <label class="background-p4">
                        <br>
                        Harland and Wolff put their leading designers to work designing Olympic-class vessels. 
                        The design was overseen by Lord Pirrie, a director of both Harland and Wolff and the White Star Line; 
                        naval architect Thomas Andrews, the managing director of Harland and Wolff's design department; 
                        Edward Wilding, Andrews's deputy and responsible for calculating the ship's design, stability and trim; 
                        and Alexander Carlisle, the shipyard's chief draughtsman and general manager.
                        [12] Carlisle's responsibilities included the decorations, equipment, and all general arrangements, 
                        including the implementation of an efficient lifeboat davit design.[b]
                        <br>
                    </label>

                    <label class="background-p5">
                        <br>
                        On July 29, 1908, Harland and Wolff presented the drawings to J. 
                        Bruce Ismay and other White Star Line executives. 
                        Ismay approved the design and signed three "letters of agreement" two days later, authorising the start of construction.
                        [15] At this point, the first ship—which was later to become Olympic—had no name but was referred to simply as "Number 400", 
                        as it was Harland and Wolff's four-hundredth hull. 
                        Titanic was based on a revised version of the same design and was given the number 401.[16]
                        <br>
                    </label>
                    <!-----------------------------------------End of Background info---------------------------------------------------->

                    <!-----------------------------------------Start of Dimensions and Layout info---------------------------------------------------->
                    <div id="Dimensions-and-Layout">
                        <br><br><br>
                        <label id="Dimensions-and-Layout-info"><b><i>Dimensions and Layout</i></b></label>
                        <hr>
                        <label class="dnl-header">Titanic was 882 feet 9 inches (269.06 m) long with a maximum breadth of 92 feet 6 inches (28.19 m).<br><br></label>

                        <!--image element here-->
                        <div id="dimensions-graphic">
                            <img src="/images/Titanic_Starboard_View_1912.gif" id="test" width="330" height="100">

                            <!-- <div id="dimension-graphic-image">
                                <img src="/images/Titanic_Starboard_View_1912.gif" id="test" width="330" height="100">
                            </div> -->
                            <div> 
                                <label> Starboard view of <i>Titanic</i></label>
                            </div>
                        </div>

                        <label class="dnl-p1">
                            Her total height, 
                            measured from the base of the keel to the top of the bridge, was 104 feet (32 m).
                            [17] She measured 46,329 GRT and 21,831 NRT[18] and with a draught of 34 feet 7 inches (10.54 m), she displaced 52,310 tons.
                            [5] All three of the Olympic-class ships had ten decks (excluding the top of the officers' quarters), eight of which were for passenger use. 
                            From top to bottom, the decks were:
                        </label>
                        <ul>
                            <li>
                                The boat deck, on which the lifeboats were housed. 
                                It was from here during the early hours of 15 April 1912 that Titanic's lifeboats were lowered into the North Atlantic. 
                                The bridge and wheelhouse were at the forward end, in front of the captain's and officers' quarters. 
                                The bridge stood 8 feet (2.4 m) above the deck, extending out to either side so that the ship could be controlled while docking. 
                                The wheelhouse stood within the bridge. 
                                The entrance to the First Class Grand Staircase and gymnasium were located midships along with the raised roof of the First Class lounge, while at the rear of the deck were the roof of the First Class smoke room and the relatively modest Second Class entrance. 
                                The wood-covered deck was divided into four segregated promenades: for officers, First Class passengers, engineers, and Second Class passengers respectively. 
                                Lifeboats lined the side of the deck except in the First Class area, where there was a gap so that the view would not be spoiled.[18][19]
                            </li>

                            <li>
                                A Deck, also called the promenade deck, extended along the entire 546 feet (166 m) length of the superstructure. 
                                It was reserved exclusively for First Class passengers and contained First Class cabins, the First Class lounge, smoke room, reading and writing rooms, and Palm Court.[18]
                            </li>

                            <li>
                                B Deck, the bridge deck, was the top weight-bearing deck and the uppermost level of the hull. 
                                More First Class passenger accommodations were located here with six palatial staterooms (cabins) featuring their own private promenades. 
                                On Titanic, the à la carte restaurant and the Café Parisien provided luxury dining facilities to First Class passengers. 
                                Both were run by subcontracted chefs and their staff; all were lost in the disaster. 
                                The Second Class smoking room and entrance hall were both located on this deck. 
                                The raised forecastle of the ship was forward of the bridge deck, accommodating Number 1 hatch (the main hatch through to the cargo holds), numerous pieces of machinery and the anchor housings.
                                [c] Aft of the bridge deck was the raised poop deck, 106 feet (32 m) long, used as a promenade by Third Class passengers. 
                                It was where many of Titanic's passengers and crew made their last stand as the ship sank. 
                                The forecastle and poop deck were separated from the bridge deck by well decks.[20][21]
                            </li>

                            <li>
                                C Deck, the shelter deck, was the highest deck to run uninterrupted from stem to stern. 
                                It included both well decks; the aft one served as part of the Third Class promenade. 
                                Crew cabins were housed below the forecastle and Third Class public rooms were housed below the poop deck. 
                                In between were the majority of First Class cabins and the Second Class library.[20][22]
                            </li>

                            <li>
                                D Deck, the saloon deck, was dominated by three large public rooms—the First Class reception room, the First Class dining saloon and the Second Class dining saloon. 
                                An open space was provided for Third Class passengers. 
                                First, Second and Third Class passengers had cabins on this deck, with berths for firemen located in the bow. 
                                It was the highest level reached by the ship's watertight bulkheads (though only by eight of the fifteen bulkheads).[20][23]
                            </li>

                            <li>
                                E Deck, the upper deck, was predominantly used for passenger accommodation for all three classes plus berths for cooks, seamen, stewards and trimmers. 
                                Along its length ran a long passageway nicknamed 'Scotland Road', in reference to a famous street in Liverpool. 
                                Scotland Road was used by Third Class passengers and crew members.[20][24]
                            </li>

                            <li>
                                F Deck, the middle deck, was the last complete deck, and mainly accommodated Second and Third Class passengers and several departments of the crew. 
                                The Third Class dining saloon was located here, as were the swimming pool, Turkish bath and kennels.[20][24][25]
                            </li>

                            <li>
                                G Deck, the lower deck, was the lowest complete deck that carried passengers, and had the lowest portholes, just above the waterline. 
                                The squash court was located here along with the travelling post office where letters and parcels were sorted ready for delivery when the ship docked. 
                                Food was also stored here. 
                                The deck was interrupted at several points by orlop (partial) decks over the boiler, engine and turbine rooms.[20][26]
                            </li>

                            <li>
                                The orlop decks, and the tank top below that, were on the lowest level of the ship, below the waterline. 
                                The orlop decks were used as cargo spaces, while the tank top—the inner bottom of the ship's hull—provided the platform on which the ship's boilers, engines, turbines and electrical generators were housed. 
                                This area of the ship was occupied by the engine and boiler rooms, areas which passengers would have been prohibited from seeing. 
                                They were connected with higher levels of the ship by flights of stairs; 
                                twin spiral stairways near the bow provided access up to D Deck.[20][26]
                            </li>
                        </ul>
                    </div> <!--end of dimension and layout-->

                    <div class="features-section">
                        <label id="Features"><b><i>Features</i></b></label>
                        <hr>
                        <br><br><br>
\                    </div>
                </div>

        </div>
        <!-- stylesheets will be added and deleted on runtime in order to change the color of the text in the table of content, to show what section you are currently reading-->
    </body>
</html>