<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script defer src="notes.js"> </script>
        <link rel="stylesheet"  href="/CSS/titanic.css"></link>
    </head>
    <body>
        <div class="header">
            <img src="/images/menuBar.jpg" class="menuBar" onclick="changePage()">
            <img src="/images/wiki-header-logo.png" class="wikiLogo">
            <form class="searchBar">
                <img src="/images/searchBarIcon.jpg">
                <textarea id="searchInfo" name="searchRequest" placeholder="Search Wikipedia"></textarea>
                <button type="submit" id="searchSubmit"><b>Search</b></submit>
            </form>
        </div>

        <div class="content">
            <div class="tableOfContent" id="table">
                <div class="sections">
                    <label id="tableLink"> <b>(Top)</b></label>
                    <label id="tableLink"> Background</label>
                    <label id="tableLink"> Dimensions and layout</label>
                </div>
            </div>
            

            
                <div class="info">
                    <label id="info-header"><b><i>Titanic</i></b></label>
                    <hr id="Top"> 
                    <label>&emsp;This article is about the passenger liner. For the film by James Cameron, see Titanic (1997 film). For other uses, see Titanic (disambiguation).<br></label>
                    
                    <div class="sideBar">
                        <img src="/images/overflowTest.jpg">
                        <img src="/images/overflowTest.jpg">
                        <img src="/images/overflowTest.jpg">
                        <img src="/images/overflowTest.jpg">
                        <img src="/images/overflowTest.jpg">
                    </div>

                    <label class="top-p1">
                        <br>
                        RMS Titanic was a British passenger <a href="https://en.wikipedia.org/wiki/Ocean_liner" class="hyperLinks">liner</a>, operated by the 
                        <a href="https://en.wikipedia.org/wiki/White_Star_Line" class="hyperLinks">White Star Line</a>, 
                        that <a href="https://en.wikipedia.org/wiki/Sinking_of_the_Titanic" class="hyperLinks">sank in the North Atlantic Ocean</a> 
                        on 15 April 1912 after striking an <a href="https://en.wikipedia.org/wiki/Iceberg" class="hyperLinks">iceberg</a>  
                        during her maiden voyage from <a href="https://en.wikipedia.org/wiki/Southampton" class="hyperLinks">Southampton</a>, 
                        England to <a href="https://en.wikipedia.org/wiki/New_York_City" class="hyperLinks">New York City</a>, United States. 
                        Of the <a href="https://en.wikipedia.org/wiki/Sinking_of_the_Titanic#Casualties_and_survivors" class="hyperLinks">estimated 2,224 passengers and crew</a> aboard,  more than 1,500 died, making it 
                        <a href="https://en.wikipedia.org/wiki/List_of_accidents_and_disasters_by_death_toll#Maritime" class="hyperLinks">the deadliest sinking of a single ship</a> up to that time. 
                        [a] It remains the deadliest peacetime sinking of an <a href="https://en.wikipedia.org/wiki/Ocean_liner" class="hyperLinks">ocean liner</a> or 
                        <a href="https://en.wikipedia.org/wiki/Cruise_ship" class="hyperLinks">cruise ship</a>. 
                        [4] The disaster drew public attention, provided foundational material for the <a href="https://en.wikipedia.org/wiki/Disaster_film" class="hyperLinks">disaster film</a> 
                        genre, and has inspired many artistic works.
                        <br>
                    </label>

                    

                    <label class="top-p2">
                        <br>
                        RMS Titanic was the largest ship afloat at the time she entered service and the second of three Olympic-class ocean liners operated by the White Star Line. 
                        She was built by the Harland and Wolff shipyard in Belfast. 
                        Thomas Andrews, the chief naval architect of the shipyard, died in the disaster. 
                        Titanic was under the command of Captain Edward Smith, who went down with the ship. 
                        The ocean liner carried some of the wealthiest people in the world, as well as hundreds of emigrants from the British Isles, 
                        Scandinavia, and elsewhere throughout Europe, who were seeking a new life in the United States and Canada.
                        <br>
                    </label>

                    <label class="top-p3">
                        <br>
                        The first-class accommodation was designed to be the pinnacle of comfort and luxury, 
                        with a gymnasium, swimming pool, smoking rooms, high-class restaurants and cafes, a Turkish bath and hundreds of opulent cabins. 
                        A high-powered radiotelegraph transmitter was available for sending passenger "marconigrams" and for the ship's operational use. 
                        Titanic had advanced safety features, such as watertight compartments and remotely activated watertight doors, 
                        contributing to its reputation as "unsinkable".
                        <br>
                    </label>

                    <label class="top-p4">
                        <br>
                        Titanic was equipped with 16 lifeboat davits, each capable of lowering three lifeboats, for a total of 48 boats. 
                        However, she actually carried only 20 lifeboats, 
                        four of which were collapsible and proved hard to launch while she was sinking (Collapsible A nearly swamped and was filled with a foot of water until rescue; 
                        Collapsible B completely overturned while launching). Together, the 20 lifeboats could hold 1,178 people—about half the number of passengers on board, 
                        and one-third of the number of passengers the ship could have carried at full capacity (a number consistent with the maritime safety regulations of the era). 
                        When the ship sank, the lifeboats that had been lowered were only filled up to an average of 60%.
                        <br>
                    </label>

                    <!-----------------------------------------Start of Background info---------------------------------------------------->
                    <br><br><br>
                    <label id="info-background"><b><i>Background</i></b></label>
                    <hr id="Background"> 
                    <div class="bground-media">
                        <!---
                            <video controls autoplay="false" width="320" height="240">
                                <source src="https://en.wikipedia.org/wiki/File:Titanic_Disaster_-_Genuine_Footage_(1911-1912).webm" type="video/webm">
                                <source src="https://en.wikipedia.org/wiki/File:Titanic_Disaster_-_Genuine_Footage_(1911-1912).ogg" type="video/ogg">
                            </video>
                        -->
                        
                    </div>

                    <label class="background-p1"> 
                        <br>
                        The name Titanic derives from the Titans of Greek mythology. 
                        Built in Belfast, Ireland, in what was then the United Kingdom of Great Britain and Ireland, 
                        RMS Titanic was the second of the three Olympic-class ocean liners—the first was RMS Olympic and the third was HMHS Britannic.
                        [5] Britannic was originally to be called Gigantic[citation needed] and was to be over 1,000 feet (300 m) long.
                        [6][failed verification] They were by far the largest vessels of the British shipping company White Star Line's fleet, 
                        which comprised 29 steamers and tenders in 1912.
                        [7] The three ships had their genesis in a discussion in mid-1907 between the White Star Line's chairman, 
                        J. Bruce Ismay, and the American financier J. P. Morgan, who controlled the White Star Line's parent corporation, 
                        the International Mercantile Marine Co. (IMM).
                        <br>
                    </label>


                </div>

        </div>
        <!-- stylesheets will be added and deleated on runtime in order to change the color of the text in the table of content, to show what section you are currently reading-->



        <!-- <div>   <button onclick="changePage()"> move to different page to show that we can render multiple templates </button>  </div> -->
        <!-- 
            <div>   <img src="/images/overflowTest.jpg">    </div>
            <hr>
            <div>   <img src="/images/titanicTestImage.jpg"> </div>
        -->
        

    </body>
</html>