<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="notes.js"> </script>
        <link rel="stylesheet"  href="/CSS/titanic.css"></link>
    </head>
    <body>
        <div class="header">
            <img src="/images/menuBar.jpg" class="menuBar" onclick="changePage()">
            <img src="/images/wiki-header-logo.png" class="wikiLogo">
            <form class="searchBar">
                <img src="/images/searchBarIcon.jpg">
                <textarea id="searchInfo" name="searchRequest" placeholder="Search Wikipedia"></textarea>
                <button type="submit" id="searchSubmit"><b>Search</b></submit>
            </form>
        </div>

        <div class="content">
            <div class="tableOfContent" id="table">
                <div class="sections">
                    <label id="tableLink"> <b>(Top)</b></label>
                    <label id="tableLink"> Background</label>
                    <label id="tableLink"> Dimensions and layout</label>
                </div>
            </div>
            

            
                <div class="info">
                    <label id="info-header"><b><i>Titanic</i></b></label>
                    <hr id="Top"> 
                    <label>&emsp;This article is about the passenger liner. For the film by James Cameron, see Titanic (1997 film). For other uses, see Titanic (disambiguation).<br></label>
                    
                    <div class="sideBar">
                        <img src="/images/overflowTest.jpg">
                    </div>

                    <label class="top-p1"><br>RMS Titanic was a British passenger <a href="https://en.wikipedia.org/wiki/Ocean_liner" class="hyperLinks">liner</a>, operated by the 
                        <a href="https://en.wikipedia.org/wiki/White_Star_Line" class="hyperLinks">White Star Line</a>,
                         that <a href="https://en.wikipedia.org/wiki/Sinking_of_the_Titanic" class="hyperLinks">sank in the North Atlantic Ocean</a>
                         on 15 April 1912 after striking an <a href="https://en.wikipedia.org/wiki/Iceberg" class="hyperLinks">iceberg</a> 
                         during her maiden voyage from <a href="https://en.wikipedia.org/wiki/Southampton" class="hyperLinks">Southampton</a>,
                          England to <a href="https://en.wikipedia.org/wiki/New_York_City" class="hyperLinks">New York City</a>, United States.
                           Of the <a href="https://en.wikipedia.org/wiki/Sinking_of_the_Titanic#Casualties_and_survivors" class="hyperLinks">estimated 2,224 passengers and crew</a> aboard, 
                           more than 1,500 died, making it <a href="https://en.wikipedia.org/wiki/List_of_accidents_and_disasters_by_death_toll#Maritime" class="hyperLinks">the deadliest sinking of a single ship</a> 
                           up to that time.
                           [a] It remains the deadliest peacetime sinking of an <a href="https://en.wikipedia.org/wiki/Ocean_liner" class="hyperLinks">ocean liner</a> or 
                           <a href="https://en.wikipedia.org/wiki/Cruise_ship" class="hyperLinks">cruise ship</a>.
                           [4] The disaster drew public attention, provided foundational material for the <a href="https://en.wikipedia.org/wiki/Disaster_film" class="hyperLinks">disaster film</a> 
                           genre, and has inspired many artistic works.<br>
                    </label>

                    

                    <label class="top-p2">
                        <br>
                        RMS Titanic was the largest ship afloat at the time she entered service and the second of three Olympic-class ocean liners operated by the White Star Line. 
                        She was built by the Harland and Wolff shipyard in Belfast. 
                        Thomas Andrews, the chief naval architect of the shipyard, died in the disaster. 
                        Titanic was under the command of Captain Edward Smith, who went down with the ship. 
                        The ocean liner carried some of the wealthiest people in the world, as well as hundreds of emigrants from the British Isles, 
                        Scandinavia, and elsewhere throughout Europe, who were seeking a new life in the United States and Canada.
                        <br>
                    </label>
                </div>

        </div>
        <!-- stylesheets will be added and deleated on runtime in order to change the color of the text in the table of content, to show what section you are currently reading-->



        <!-- <div>   <button onclick="changePage()"> move to different page to show that we can render multiple templates </button>  </div> -->
        <!-- 
            <div>   <img src="/images/overflowTest.jpg">    </div>
            <hr>
            <div>   <img src="/images/titanicTestImage.jpg"> </div>
        -->
        

    </body>
</html>