<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="notes.js"> </script>
        <link rel="stylesheet"  href="/CSS/titanic.css"></link>
    </head>
    <body>
        <div class="header">
            <img src="/images/menuBar.jpg" class="menuBar" onclick="changePage()">
            <img src="/images/wiki-header-logo.png" class="wikiLogo">
            <form class="searchBar">
                <img src="/images/searchBarIcon.jpg">
                <textarea id="searchInfo" name="searchRequest" placeholder="Search Wikipedia"></textarea>
                <button type="submit" id="searchSubmit"><b>Search</b></submit>
            </form>
        </div>

        <div class="content">
            <div class="tableOfContent" id="table">
                <div class="sections">
                    <label id="tableLink"> <b>(Top)</b></label>
                    <label id="tableLink"> Background</label>
                    <label id="tableLink"> Dimensions and layout</label>
                </div>
            </div>
            

            
                <div class="info">
                    <img src="/images/overflowTest.jpg">
                    <img src="/images/overflowTest.jpg"> 
                    <img src="/images/overflowTest.jpg"> 
                    <img src="/images/overflowTest.jpg"> 

                </div>

        </div>
        <!-- stylesheets will be added and deleated on runtime in order to change the color of the text in the table of content, to show what section you are currently reading-->



        <!-- <div>   <button onclick="changePage()"> move to different page to show that we can render multiple templates </button>  </div> -->
        <!-- 
            <div>   <img src="/images/overflowTest.jpg">    </div>
            <hr>
            <div>   <img src="/images/titanicTestImage.jpg"> </div>
        -->
        

    </body>
</html>