<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="titanic.js"> </script>
    <link rel="/CSS/titanic.css"></style>
</head>
<body>
    <h3> Rendered properly</h3>
    <button id="differentPage" onclick="changePage()"> move to different page</button>
</body>
</html>