<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="notes.js"> </script>
    <link rel="stylesheet"  href="/CSS/titanic.css"></style>
</head>
<body>
    <h3> Rendered properly</h3>
    <div>   <button onclick="changePage()"> move to different page</button>  </div>
    <div>   <img src="/images/overflowTest.jpg">    </div>
    <hr>
    <div>   <img src="/images/titanicTestImage.jpg"> </div>

</body>
</html>