.tableOfContent label:nth-child(2)
    {
        color:black;
        text-decoration: none;
        font-weight: bold;
    }

.tableOfContent label:nth-child(2):hover
    {
        color:black;
        text-decoration: underline;
    }
.tableOfContent label:nth-child(1)
{
    color:0000FF;
}